<div id="header-guide">
  <div id="title">{{title}}</div>

  <header-menu-button id="menu-button"
                    (menuButtonEvent)="afterMenuButtonClickEvent($event)"></header-menu-button>
</div>

<collapsible-box>
  <view-menu-list
    [menuNames]="menuNames"
    (menuListItemClick)="afterMenuListItemClickEvent($event)"></view-menu-list>

  <div *ngIf="isBackButtonVisible"
       mommooRipple
       [rippleRadius]="'50%'"
       (click)="afterBackButtonClickEvent()"
       id="back-button">
    <img [src]="backButtonImagePath" alt="back-button"/>
  </div>
</collapsible-box>
