<div id="header-guide">
  <img id="logo" [src]="logoImagePath" />
  <div id="title" (click)="doHeaderLogoClick()">Mommoo Portfolio</div>

  <header-menu-button id="menu-button"
                    (menuButtonEvent)="afterMenuButtonClickEvent($event)"></header-menu-button>
</div>

<collapsible-box>
  <div *ngIf="isBackButtonVisible"
       mommooRipple
       [rippleRadius]="'50%'"
       (click)="afterBackButtonClickEvent()"
       id="back-button">
    <img [src]="backButtonImagePath" alt="back-button"/>
  </div>

  <view-menu-list
    [menuNames]="menuNames"
    (menuListItemClick)="afterMenuListItemClickEvent($event)"></view-menu-list>
</collapsible-box>
