@import '../angular/src/app/common';

$ratio: 0.4;

:host {
  width: 100%;
  padding-bottom: $ratio * 100%; //for width ratio box
  display: block;
  position: relative;
  background-color:red;
}

#fixed-image-box {
  background: center no-repeat;
  background-size: cover;
  position: fixed;
}

#viewport-box {
  background-color: rgba(255,255,255,.3);

  position: absolute;
  left:0;
  top:0;
  right:0;
  bottom:0;
}

#collpase-title {
  position:fixed;
  font-size: 20px;
  z-index:2;
  background-color:red;
  width:100%;
  box-shadow : 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
}

@include desktop-media-query {
  #fixed-image-box {
    width: calc(100% - #{$headerWidthInDesktopMediaQuery});
    padding-bottom: calc((100% - #{$headerWidthInDesktopMediaQuery}) * #{$ratio});
  }
}

@include tablet-and-mobile-media-query {
  #fixed-image-box {
    width:100%;
    padding-bottom: $ratio * 100%;
  }
}


