<ng-template #banner></ng-template>
<div class="flex-row">
  <mommoo-list>
    <mommoo-list-title>Mommoo</mommoo-list-title>
    <mommoo-list-section [sectionTitle]="'인적사항'">
      <mommoo-list-item>최경수</mommoo-list-item>
      <mommoo-list-item>91년생 (28살)</mommoo-list-item>
      <mommoo-list-item>서울과학기술대학교 컴퓨터공학과 학사</mommoo-list-item>
      <mommoo-list-item>서울과학기술대학교 컴퓨터공학과 석사</mommoo-list-item>
    </mommoo-list-section>
    <mommoo-list-section [sectionTitle]="'집필 논문'">
      <mommoo-list-item>논문1</mommoo-list-item>
      <mommoo-list-item>논문2</mommoo-list-item>
      <mommoo-list-item>논문3</mommoo-list-item>
    </mommoo-list-section>
  </mommoo-list>
</div>
