@import "~src/styles";
@import "~src/mommoo-library/handler/window/size/window-size-handler";

$gutter: 16px;

:host {
  display: block;
}

#feature-image-wrapper {
  text-align: center;
}

#feature-image {
  max-width: 100%;
}

.explanation-contents {
  padding-bottom: $gutter * 2;

  &:nth-last-child(1) {
    padding-bottom: 0;
  }
}

.explanation-heading {
  font-weight: bold;
  color: $primaryTextColor;
  padding-bottom: $gutter/2;
  line-height: normal;
  border-bottom: 1px solid #f0f0f0;
  margin-bottom: $gutter/2;
}

.explanation-description {
  color: $secondaryTextColor;
}

@mixin setExplanationElementFontSize($fontSize) {
  .explanation-heading {
    font-size: $fontSize;
  }

  .explanation-description {
    font-size: $fontSize *0.83;
  }
}

@include basic-large-media-query {
  @include setExplanationElementFontSize(1.3vw);

  .card-contents {
    padding: $gutter * 3 !important;
  }
}

@include basic-medium-media-query {
  @include setExplanationElementFontSize(2.6vw);

  .card-contents {
    padding: $gutter * 2 !important;
  }
}

@include basic-small-media-query {
  @include setExplanationElementFontSize(5vw);

  .card-contents {
    padding: $gutter !important;
  }
}
