:host(#banner){
  max-width: 100%;
  box-sizing: border-box;
  display : flex;
  flex-direction: column;
  justify-items: center;
  // IE10 is not exist 'justify-contents' property so,
  // write 'text-align' property to align name and subtitle to center
  text-align: center;

  padding-bottom: 16px;
}

:host(#banner-title) {
  font-weight : 900;
  text-align : center;
  font-size: 60px;

  -ms-word-wrap: break-word;
  -ms-word-break: break-all;

  word-break: break-word;
}

:host(#banner-text-contents) {
  text-align : center;
  padding: 0 10px;
  box-sizing: border-box;
  max-width: 100%;
}
