<ui-label [title]="'About-Me'"></ui-label>
<ui-guide [title]="'introduce me'" [contentStyle]="{textAlign : 'center'}">
  <p>저는 2014년부터 개발 공부를 시작했습니다.</p>
  <p>이론과 실습을 계속 병행하며, 꾸준히 실력을 쌓아 왔습니다.</p>
  <p>저의 개발 공부 철학은 "그냥 넘어가지 말자" 입니다.</p>
  <p>개인 프로젝트를 진행하다가, 궁금한 것이 나오면 꼭 해결을 하고 넘어갔습니다.</p>
  <p>이러한 개발 철학을 바탕으로, 프로그래밍 기본기를 단단하게 쌓았습니다.</p>
  <p>아래의 리스트는 제가 개발 가능한 언어와 환경을 나타냈습니다.</p>
</ui-guide>
<ui-guide [title]="'language'" [style.padding]="'20px'">
  <mommoo-grid-list
    [maxColumnNum]="maxColumnNum"
    [rowHeight]="'1:1'">
    <mommoo-grid-tile *ngFor="let cardProperty of programingLangCardProps"
      [colSpan]="1"
      [rowSpan]="1">
      <div class="card-container">
        <mommoo-card
          [hashTagMessages]="cardProperty.hashTagMessages"
          [cardImage]="cardProperty.imagePath"
          [cardImageBoxStyle]="{padding : '10px'}"
          [themeColor]="'#e91e63'">
          <div class="card-title-name" [style.fontSize]="cardTitleFontSize">{{cardProperty.name}}</div>
        </mommoo-card>
      </div>
    </mommoo-grid-tile>
  </mommoo-grid-list>
</ui-guide>
<ui-guide [title]="'Environment'" [style.padding]="'20px'">
  <mommoo-grid-list
    [maxColumnNum]="maxColumnNum"
    [rowHeight]="'1:1'">
    <mommoo-grid-tile *ngFor="let cardProperty of environmentCardProps"
      [colSpan]="1"
      [rowSpan]="1">
      <div class="card-container">
        <mommoo-card
          [hashTagMessages]="cardProperty.hashTagMessages"
          [cardImage]="cardProperty.imagePath"
          [cardImageBoxStyle]="{padding : '10px'}"
          [themeColor]="'#e91e63'">
          <div class="card-title-name" [style.fontSize]="cardTitleFontSize">{{cardProperty.name}}</div>
        </mommoo-card>
      </div>
    </mommoo-grid-tile>
  </mommoo-grid-list>
</ui-guide>




