<ui-label [title]="'About-Me'" [markColor]="themeColor"></ui-label>
<ui-guide [title]="'introduce myself'" [contentStyle]="{textAlign : 'center'}" [titleColor]="themeColor">
  <p>2014년부터 개발 공부를 시작했습니다.</p>
  <p>이론과 실습을 계속 병행하며, 꾸준히 실력을 쌓아 왔습니다.</p>
  <p>개발 철학은 "그냥 넘어가지 말자" 입니다.</p>
  <p>개인 프로젝트를 진행하다가, 궁금한 것이 나오면 꼭 해결을 하고 넘어갔습니다.</p>
  <p>이러한 개발 철학을 바탕으로, 프로그래밍 기본기를 단단하게 쌓았습니다.</p>
  <p>아래의 리스트는 제가 개발 가능한 언어와 환경을 나타냈습니다.</p>
</ui-guide>
<ui-guide [title]="'Language & Environment'" [style.padding]="gutterSize+'px'" [titleColor]="themeColor">
  <mommoo-grid-list
    [colGap]="gutterSize"
    [rowGap]="gutterSize"
    [maxColumnNum]="maxColumnNum"
    [rowHeight]="'1:1'">
    <mommoo-grid-tile *ngFor="let cardProperty of cardProps"
      [colSpan]="1"
      [rowSpan]="1">
      <mommoo-card
        [hashTagMessages]="cardProperty.hashTagMessages"
        [hashTagBoxStyle]="{fontFamily : 'NotoSans-Thin'}"
        [cardImage]="cardProperty.imagePath"
        [themeColor]="themeColor">
        <div class="card-content" [style.fontSize]="cardContentFontSize">{{cardProperty.name}}</div>
      </mommoo-card>
    </mommoo-grid-tile>
  </mommoo-grid-list>
</ui-guide>
