@import '~src/styles';
@import '~src/mommoo-library/handler/window/size/window-size-handler';

$gutter: 16px;

:host {
  display: block;
}

#section-wrapper {
  position: relative;
  background-color:white;
}

.heading {
  padding-bottom: $gutter;
  font-weight: 900;
  color: $primaryTextColor;
  border-bottom: 1px solid #eaeaea;
}

.if-absent-section-content-title {
  padding-top: $gutter * 1.5;
}

.section-content-wrapper {
  padding-bottom: $gutter;

  &:nth-last-child(1) {
    padding-bottom: 0;
  }
}

.section-content-title {
  padding: $gutter;
  font-weight: 400;
  color: $secondaryTextColor;
}

.guide-section {
  padding-bottom: $gutter * 3;
}

@mixin setPaddingByRatio($ratio) {
  #section-wrapper {
    padding: $gutter * $ratio;
  }

  .section-content {
    padding-left: max($gutter * ($ratio - 1), $gutter);
    padding-right: max($gutter * ($ratio - 1), $gutter);
  }
}

@mixin setSectionFontSize($headingFontSize, $contentsFontSize) {
  .heading {
    font-size: $headingFontSize;
  }

  .section-content-title {
    font-size: $contentsFontSize * 1.1;
  }

  .section-content {
    font-size: $contentsFontSize;
  }
}

@include basic-large-media-query {
  @include setPaddingByRatio(3);
  @include setSectionFontSize(2vw, 1.2vw);
}

@include basic-medium-media-query {
  @include setPaddingByRatio(2);
  @include setSectionFontSize(4vw, 2.6vw);
}

@include basic-small-media-query {
  @include setPaddingByRatio(1);
  @include setSectionFontSize(7vw, 4vw);
}


