@import '../common/style/common-style';
:host {
  display: inline-block;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
  overflow: hidden;
  border-radius : 5px;
}

//TODO 상속안받게...!
#flex-card-box {
  @include flex-column-center;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding-top: 10px;

  #card-image-box {
    display: flex;
    flex-direction: column;
    width: 100%;
    flex-grow: 1;
    overflow: hidden;
  }

  #card-image {
    width: 100%;
    flex-grow: 1;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
  }

  #hash-tag-container {
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    text-align: left;
  }
}
