<div id="shadow-visible-rect" [ngStyle]="_cardShadowBoxStyle">
  <div id="flex-card-box" [ngStyle]="cardBoxStyle">
    <div *ngIf="cardTitle" id="card-title-box" [ngStyle]="cardTitleBoxStyle">{{cardTitle}}</div>
    <mommoo-card-image *ngIf="cardImage" id="card-image-box"
                       [ngStyle]="cardImageBoxStyle"
                       [imagePath]="cardImage"
                       [imageStyle]="_imageStyle"
                       [isAnimate]="cardImageAnim">
    </mommoo-card-image>
    <div id="card-content-box">
      <ng-content></ng-content>
    </div>
    <div *ngIf="hashTagMessages.length > 0" id="hash-tag-container" [ngStyle]="hashTagBoxStyle">
      <mommoo-hash-tag *ngFor="let message of hashTagMessages"
                       [message]="message"
                       [color]="_hashTagColor"></mommoo-hash-tag>
    </div>
    <div *ngIf="_actionButtonProps.length > 0" id="action-view-container">
      <mommoo-action-view [actionButtonProps]="_actionButtonProps"
                          [themeColor]="themeColor"
                          (actionEventEmitter)="actionButtonClicks($event)"></mommoo-action-view>
    </div>
  </div>
</div>
