@mixin NotoSansKRFont {
  font-family: 'Noto Sans KR', sans-serif;
}

@mixin ZCOOLFont {
  font-family: 'ZCOOL QingKe HuangYou', cursive;
}

@mixin Dosis {
  font-family: 'Dosis', sans-serif;
}

$primaryTextColor: rgba(0, 0, 0, .87);
$secondaryTextColor: rgba(0, 0, 0, .6);

// common function

@mixin break-word {
  /* For IE */
  word-wrap: break-word;
  word-break: break-all;

  /* For Chrome */
  word-break: break-word; // ie not supported
}

@mixin inline-break-word {
  display: inline;
  @include break-word;
}

/* You can add global styles to this file, and also import other style files */
html, body{
  padding : 0;
  margin : 0;
  -webkit-font-smoothing: antialiased;
  backface-visibility: hidden;
}

body {
  background-color : #f9f9f9;

  &:lang(ko) {
    @include NotoSansKRFont;
  }

  &:lang(en) {
    @include Dosis;
  }
}

div {
  backface-visibility: hidden;
}
