:host {
  position: relative;
  display: block;
  padding-bottom: 56%; // for 16:9 ratio box
}

%fill {
  position: absolute;
  left:0;
  right:0;
  bottom:0;
  top:0;
}

#image-banner {
  @extend %fill;
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

#blur {
  @extend %fill;
  background-color: rgba(50,50,50,.9);
}

#title {
  @extend %fill;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 5vw;
  color:white;
  font-weight: 900;
  text-align: center;

  #section {
    width: 50%;
    height: 50%;
    background-color: rgba(40,40,40,.8);
  }
}
