@import '../common/style/common-style';

$default_gutter_size: 6px;
$default-padding: 16px;

:host(.mommoo-card) {
  display : inline-block;
  visibility: hidden;
}

:host(.mommoo-card-viewport) {
  display: flex;
  flex-direction: column;
  width : 100%;
  height : 100%;
  box-sizing: border-box;
  overflow: hidden;
}

:host(.mommoo-card-title) {
  @extend .content-break;
  display: block;
  align-self : start;
  font-size : 30px;
  font-weight: bold;
  color : $primaryTextColor;
  width:100%;
  background-color: #f0f0f0;
  padding: $default-padding;
}

:host(.mommoo-card-image) {
  display:block;
  flex-grow:1;
  justify-self: center;
  align-self: center;
  width:100%;
  position: relative;
  overflow:hidden;

  #image-box {
    display:block;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    left:0;
    top:0;
    right:0;
    bottom:0;
  }
}

:host(.mommoo-card-contents) {
  display: block;
  font-size : 16px;
  padding: $default-padding;
  color: $secondaryTextColor;
  line-height: 32px;
}

:host(.mommoo-card-hashtag) {
  display : flex;
  flex-wrap : wrap;
  flex-direction: row;
  padding: 0 $default-padding;
}

:host(.mommoo-card-hashtag-contents) {
  @extend .content-break;

  display:block;
  width:auto;
  background-color : rgba(255,0,0,.5);
  color : white;
  border-radius: 12px;
  padding : 4px 8px;
  font-size : 12px;

  &:nth-child(n) {
    margin-right : $default_gutter_size;
    margin-bottom : $default_gutter_size;
  }

  &:nth-last-child(1) {
    margin-right : 0;
  }
}

:host(.mommoo-card-action){
  display: block;
  width: 100%;
  text-align: right;
  background-color: #f0f0f0;
}

:host(.mommoo-card-action-button) {
  display: inline-block;
  cursor : pointer;
  padding: $default_gutter_size;

  &:nth-child(n) {
    margin-right : $default_gutter_size * 2;
  }

  &:nth-last-child(1) {
    margin-right : 0;
  }

  #button {
    display: flex;
    align-items: center;
    padding-left:16px;
    padding-right: 16px;
    height: 36px;
  }
}

.content-break {
  max-width:100%;
  box-sizing: border-box;

  /* For IE */
  -ms-word-wrap: break-word;
  -ms-word-break: break-all;

  /* For Chrome */
  word-break: break-word;
}
