@import 'common';

:host {
  //display : flex; //firefox flex-box bug
  display: block;
}

#fixed-header-wrapper {
  position : fixed;
  z-index : 100;
}

#footer-area {
  z-index : 200;
  text-align : center;
}

@include desktop-media-query {
  #header-area {
    width : $headerWidthInDesktopMediaQuery;
    position: fixed;
    left:0;
    top:0;
    bottom:0;
  }

  #fixed-header-wrapper {
    width: $headerWidthInDesktopMediaQuery;
    height : 100%;
  }

  #contents-area {
    padding-left: $headerWidthInDesktopMediaQuery;
  }
}

@include tablet-and-mobile-media-query {
  #header-area {
    width : 100%;
  }

  #fixed-header-wrapper {
    width: 100%;
    height : auto;
    box-shadow : 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
  }

  #contents-area {
    padding-left: 0;
  }
}
