$expandedHeaderWidth : 300px;

:host {
  display : flex;
}

#content-wrapper-area {
  flex-grow : 1;
}

#fixed-header-wrapper {
  position : fixed;
  z-index : 999;
}

// Desktop
@media all and (min-width : 1025px) {
  :host {
    flex-direction : row;
  }

  #navigation-header-area {
    width : $expandedHeaderWidth;
    justify-items: stretch;
  }

  #fixed-header-wrapper {
    width: $expandedHeaderWidth;
    height : 100%;
  }
}

//tablet and mobile
@media all and (max-width:1024px) {
  :host {
    flex-direction : column;
  }

  #navigation-header-area {
    width : 100%;
  }

  #fixed-header-wrapper {
    width: 100%;
    height : auto;
    box-shadow : 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
  }
}
