//Font
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR|Nanum+Gothic|Teko:400,500,600,700|Exo+2:500');

@mixin TekoFont {
  font-family: 'Teko', 'sans-serif';
}

@mixin NanumGhothicFont {
  font-family: 'Nanum Gothic', sans-serif;
}

@mixin NotoSansKRFont {
  font-family: 'Noto Sans KR', sans-serif;
}

@mixin Exo2Font {
  font-family: 'Exo 2', cursive;
}

//MediaQuery

$headerWidthInDesktopMediaQuery: 300px;

@mixin desktop-media-query {
  @media all and (min-width : 1025px) {
    @content;
  }
}

@mixin tablet-and-mobile-media-query {
  @media all and (max-width:1024px) {
    @content;
  }
}
