<header id="header">
  <div id="media-query-layout">
    <div id="title">{{headerTitle | uppercase}}</div>

    <view-menu-button id="menu-button"
                     (menuButtonEvent)="triggerMenuButtonEvent($event)"></view-menu-button>
  </div>

  <animation-box>
    <view-menu-list (menuListItemClick)="triggerMenuListItemClickEvent()"></view-menu-list>

    <div mommooRipple [rippleRadius]="'50%'" id="back-button">
      <img src="../../../../assets/images/arrow_back.svg"/>
    </div>
  </animation-box>
</header>
