@import '../../common';

:host {
  background-color : #f3f3f3;
  user-select: none;
  display : block;
  width : 100%;
  height : 100%;
}
#header{
  width : 100%;
  height : 100%;
  color : black;
  display: block;
  text-align: center;
  box-sizing: border-box;

  #media-query-layout {
    width: 100%;
    padding: 0 1.5rem;
    box-sizing: border-box;
    display: flex;
    align-items: center;
  }

  #view-menu-list {
    box-sizing: border-box;
  }

  #title {
    @include TekoFont;
    font-size   : 1.5rem;
    font-weight : bold;
    box-sizing : border-box;
    text-align : center;
  }

  #back-button{
    margin:auto;
    padding:5px;
    width:35px;
    height:35px;
    background-color: white;
    border-radius: 50%;
    cursor: pointer;

    img {
      width: 35px;
      height: 35px;
    }
  }
}

@include desktop-media-query {
  #header {
    padding: 3rem 2rem;
  }

  #title {
    padding-top:3rem;
    white-space: pre-line;
  }

  #media-query-layout {
    justify-content: center;
  }

  #menu-button {
    display : none;
  }

  #back-button {
    margin-top: 3rem;
  }
}

@include tablet-and-mobile-media-query {
  #header {
    padding: 1rem;
  }

  #media-query-layout {
    justify-content: space-between;
  }
}
