@import '../../common';

:host {
  background-color : #f3f3f3;
  user-select: none;
  display : block;
  width : 100%;
  height : 100%;
}
#header{
  width : 100%;
  height : 100%;
  color : black;
  display : flex;
  flex-direction: column;
  align-items: center;

  #flex-column-line {
    width : 100%;
    padding : 0 1.5rem;
    box-sizing: border-box;
    display : flex;
    align-items: center;
    justify-content: space-between;
  }

  #title {
    @include TekoFont;
    padding : 1rem 0;
    font-size   : 1.5rem;
    font-weight : bold;
    box-sizing : border-box;
    text-align : center;
  }
}

@include desktop-media-query {
  #header {
    #title {
      padding : 4rem 0;
      white-space: pre-line;
    }
  }

  #flex-column-line {
    flex-direction: column;
  }

  #menu-button {
    display : none;
  }
}

@include tablet-and-mobile-media-query {
  #flex-column-line {
    flex-direction: row;
  }
}
