:host {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: hidden;

  #card-image {
    width: 100%;
    flex-grow: 1;
    background : center center no-repeat;
    background-size: contain;
  }
}
