<ng-template #banner></ng-template>
<mommoo-masonry-layout *ngIf="simpleProjectCards"
                       [maxColumnNum]="masonryLayoutColumnLength">
  <mommoo-masonry-tile *ngFor="let projectCard of simpleProjectCards"
                       [colSpan]="projectCard.columnSpan">
    <mommoo-card [cardWidth]="'fit'" [cardHeight]="'wrap'">
      <mommoo-card-viewport class="card-viewport">
        <mommoo-card-title class="side-padding">{{projectCard.title}}</mommoo-card-title>
        <mommoo-card-image [imagePath]="projectCard.imagePath" [animate]="true"></mommoo-card-image>
        <mommoo-card-contents class="side-padding">
          <view-limited-textarea [text]="projectCard.summary"
                                 [limitNumber]="100"></view-limited-textarea>
        </mommoo-card-contents>
        <mommoo-card-hashtag class="side-padding">
          <mommoo-card-hashtag-contents *ngFor="let devSkill of projectCard.devSkills">
            {{devSkill}}
          </mommoo-card-hashtag-contents>
        </mommoo-card-hashtag>
        <mommoo-card-action>
          <mommoo-card-action-button>Read More</mommoo-card-action-button>
        </mommoo-card-action>
      </mommoo-card-viewport>
    </mommoo-card>
  </mommoo-masonry-tile>
</mommoo-masonry-layout>
