:host {
  display : block;
  //background-color: #e6e6e6;
}
$padding: 16px;
.card-viewport {
  padding: $padding 0 $padding 0 !important;

  .side-padding {
    padding-left: $padding;
    padding-right: $padding;
  }
}
