<ng-template #banner></ng-template>
<mommoo-grid-list
  [colGap]="gutterSize"
  [rowGap]="gutterSize"
  [maxColumnNum]="maxColumnNum"
  [style.padding.px]="gutterSize"
  [rowHeight]="'1:1'">
  <mommoo-grid-tile *ngFor="let mockMommooSkill of skills" [colSpan]="1" [rowSpan]="1">
    <mommoo-card>
      <mommoo-card-viewport style="padding:16px">
        <mommoo-card-image [imagePath]="mockMommooSkill.imagePath"></mommoo-card-image>
        <mommoo-card-contents [style.fontSize]="cardTextFontSize" id="card-title">{{mockMommooSkill.name}}</mommoo-card-contents>
        <mommoo-card-hashtag>
          <mommoo-card-hashtag-contents
            *ngFor="let message of mockMommooSkill.hashTagMessages">{{message}}</mommoo-card-hashtag-contents>
        </mommoo-card-hashtag>
      </mommoo-card-viewport>
    </mommoo-card>
  </mommoo-grid-tile>
</mommoo-grid-list>
