@import '~src/mommoo-library/handler/window/size/window-size-handler';

:host {
  display: block;
}

#header-area-viewport {
  display: flex;
  flex-direction: column;
  z-index: 999;
  width: 100%;
}

@include basic-large-media-query {
  $headerWidthInLargeMediaQuery: 300px;

  #header-area {
    width : $headerWidthInLargeMediaQuery;
    position: fixed;
    left:0;
    top:0;
    bottom:0;
  }

  #header-area-viewport {
    height : 100%;
  }

  #contents-area {
    margin-left: $headerWidthInLargeMediaQuery;
  }
}

@mixin medium-small-media-query {
  #header-area {
    width : 100%;
  }

  #header-area-viewport {
    position : fixed;
    top:0;
    height : auto;
    box-shadow : 0 3px 5px -1px rgba(0,0,0,.2),
    0 6px 10px 0 rgba(0,0,0,.14),
    0 1px 18px 0 rgba(0,0,0,.12);
  }

  #contents-area {
    margin-left: 0;
  }
}

@include basic-medium-media-query {
  @include medium-small-media-query;
}

@include basic-small-media-query {
  @include medium-small-media-query;
}
