#pdf-guide {
  display:flex;
  flex-direction: column;
  text-align: center;
  justify-items: center;
  align-items:center;
  padding: 16px 0;
}

#flex-row-box {
  display: flex;
  align-items: center;
  justify-items: center;

  padding: 16px;

  img{
    width : 30px;
    height: 30px;
    padding-right:16px;
  }
}
