@import url('//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans');

html, body{
  padding : 0;
  margin : 0;
  background-color : #f9f9f9;
  font-family: 'Noto Sans', sans-serif;
}

.common-button {
  border-radius: 0.2rem;
  outline : none;
  border : 1px solid;
}

