:host{
  display : flex;
  flex-wrap : wrap;
  flex-direction: row;
}

.message{
  width:auto;
  color : white;
  border-radius: 10px;
  padding : 3px 5px;
  font-size : 10px;
  &:nth-child(n) {
    margin-right : 5px;
    margin-bottom : 5px;
  }

  &:nth-last-child(1) {
    margin-right : 0;
  }
}
