<div class="card">
  <div class="card-title">
    <div class="main">Mommoo</div>
    <div class="sub">Developer</div>
  </div>
  <div class="card-contents">
    <div class="card-content">최경수 (a.k.a Mommoo)</div>
    <div class="card-content"><img [src]="'/assets/images/email.png'"/><span>dv.mommoo@gmail.com</span></div>
    <div class="card-content"><img [src]="'/assets/images/blog.png'"/><span>www.mommoo.tistory.com</span></div>
    <div class="card-content"><img [src]="'/assets/images/github.png'"/><span>www.github.com/mommoo</span></div>
    <div class="card-content"><img [src]="'/assets/images/degree.png'"/><span>서울과학기술대학교 컴퓨터공학과 학사<br/>서울과학기술대학교 컴퓨터공학과 석사</span></div>
  </div>
</div>
